<template>
  <div>
    <div>{{ msg }}</div>
    <button @click="handle1">123</button>
    <div>{{ count }}</div>
    <button @click="handle2">456</button>
    <div>{{ arr }}</div>
    <ul>
      <li v-for="(item, index) in arr" :key="index">
        我的名字是{{ item.name }}，我的性别是{{ item.sex }}，我的年龄是{{
          item.age
        }}
      </li>
    </ul>
    <button @click="add">add</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "Home",
  data() {
    return {
      msg: 123,
    };
  },
  methods: {
    handle1() {
      this.msg++;
    },
  },
  setup() {
    let obj = ref({
      name: "zxw",
      sex: "nan",
      age: 18,
    });
    let arr = ref([
      { name: "xiaohua", sex: "nan", age: 18 },
      { name: "xiaoming", sex: "nan", age: 19 },
      { name: "xiaolan", sex: "nv", age: 20 },
    ]);
    const count = ref(456);
    console.log(arr);
    const handle2 = function () {
      count.value++;
    };
    // const add = function () {
    //   arr[0].name.value += "+";
    // };
    return {
      count,
      handle2,
      obj,
      arr,
    };
  },
});
</script>
