<template>
  <div class="home">
    <h1>{{ count }}</h1>
    <h2>{{ countDouble }}</h2>
    <button @click="addCount">++++</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";

export default defineComponent({
  name: "Home",
  setup() {
    const count = ref(0);
    const addCount = function () {
      count.value++;
    };
    const countDouble = computed(() => {
      return count.value * 2;
    });
    return {
      count,
      addCount,
      countDouble,
    };
  },
  mounted() {
    console.log(this.count);
  },
  // computed: {
  //   countDouble() {
  //     return this.count * 2;
  //   },
  // },
});
</script>
